body{
    background-color: #ffffff;
    color: #666666;
}
header{
    background-color: #ffffff;
    color: #ffffff;

}
h1{
    margin-bottom: 0px;
}
nav{background-color: #90C7E3;
}
h2{
    color: #000033;

}
.resort{
    background-color: #90C7E3;
    COLOR: #000033:
}
}